@media screen and (max-width: 768px) {
    .titleApropos{
        margin-top: 50px;
    }
    
    .containerAbout {
      flex-direction: column; 
      width: 90%; 
    }
  
    .imgAbout {
      margin-bottom: 20px; 
    }
  
    .aboutImage {
      height: auto;
      width: 100%;
    }
  
    .textAbout {
      text-align: center;
    }
  
    .logoAbout {
      flex-direction: column;
    }
  
    .logoAbout li {
      margin: 10px 0; 
      width: auto; 
    }
  
    .passion{
        margin-top: -40px;
    }
    .pass {
     border-radius: 10%;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .containerAbout {
      width: 80%; 
    }
  
    .imgAbout {
      margin-bottom: 30px; 
    }
  
    .aboutImage {
      margin-right: 20px;
    }
  
    .textAbout {
      text-align: left; 
    }
  
    .logoAbout {
      flex-direction: row;
      justify-content: space-around;
    }
  
    .logoAbout li {
      margin: 0 20px; 
    }

    .passion{
      margin-top: -40px;
    }
    .pass {
      font-size: 5px;
   border-radius: 10%;
  }
  .btnres-pass {
    font-size: 20px; 
    padding: px 16px;
  }
  }
  