@media screen and (max-width: 768px) {

    .get-in-touch{
        margin-bottom: 380px;
        margin-top: 70px;

    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .get-in-touch {
      margin-bottom: 400px;
      margin-top: 60px;
    }
  }