@media screen and (max-width: 768px) {
    .wca_slide {
      min-width: 100px; 
      margin-right: 16px; 
    }
  
    .carousel-icon {
      width: 40px; 
      height: 40px;
    }

    

  }
  