@media screen and (max-width: 768px) {
    .hard-skills {
      margin-left: 10%;
      margin-right: 10%;
      margin-top: -90px;
    }
  
    .content {
      width: 90%;
      grid-template-columns: 1fr; /* Une seule colonne sur les écrans de petite taille */
    }
  
    .category-box {
        margin-top: 10px;
        width: 20%;
        height: 90%;
      padding: 5px; /* Réduire le padding */
    }

  .catetitle{
    font-size: 25px;
  }
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .hard-skills {
      margin-left: 33.5%;
      margin-right: 0%;
      margin-top: -90px;
      width: 30%;
    }

  }
  