.About {
  padding: 20px;
  text-align: center;
  margin: 0 auto; 
  margin-bottom: 80px;
}
.titleApropos {
  font-family: var(--font-title);
  font-size: 35px;
}
.titleSoft {
  font-size: 25px;
  font-family: var(--font-subtitle);
}
.About,
p {
  font-family: var(--font-text);
}

.containerAbout {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  flex-direction: row; 
  margin-top: 5vh;

  border-radius: 40px;
  padding: 3vh;
  width: 70%;
  margin: 0 auto; 
}

.imgAbout {
  flex: 1; 
}

.aboutImage {
  width: auto; 
  height: 80vh;
  border-radius: 10px; 
}

.textAbout {
  flex: 1; 
  text-align: left; 
}

.logoAbout {
  list-style-type: none;
  padding: 0;
  display: flex; 
  margin: 20px 0; 
}

.logoAbout li {
  display: flex; 
  align-items: center;
  flex-direction: column; 
  margin: 1vh;
  background-color: var(--primary-color);
  padding: 2%;
  border-radius: 20px;
  width: 20vh;
}
.logoAbout li svg {
  width: 5vh; 
  height: auto; 
  color: var(--text-color);
}

.logoAbout li p {
  margin-left: 8px; 
  font-size: 1.2em; 
}

.textAbout p {
  margin-top: 15%;
  font-size: 1.2em; 
}

.passion {
  text-align: center;
}

.btnres-pass {
  height: 60px;
  border-radius: 25%;
  padding: 2%;
  font-size: x-large;
  font-family: var(--font-subtitle);
  background-color: var(--primary-color);
  color: black;

  width: 100%; 
  max-width: 30vh; 

  margin: 7vh;
  border-radius: 20px;
  width: 24vh;
}
