/* https://codepen.io/jh3y/pen/xxjxqOL */
body {
  transition: background-color 0.5s ease; /* Durée et type de transition */
}
.album-gallery {
  display: grid;
  min-height: 100vh;
padding-inline-start: 10%;
margin-top: 6%;

}

.album-gallery ul {
  display: flex;

  width: calc(80% - 2rem);
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.album-gallery li {
  padding: 0;
}

.album-gallery img {
  width: 280%;
  object-fit: cover;
  transition: all 0.2s ease;
}

.album-gallery ul:is(:hover, :focus-within) img {
  opacity: calc(0.1 + (var(--active-lerp, 0) * 0.9));
  filter: grayscale(calc(1 - var(--active-lerp, 0)));
}

:root {
  --lerp-0: 1;  
  --lerp-1: 0.9;
  --lerp-2: 0.8;
  --lerp-3: 0.7;
  --lerp-4: 0.5;
  --lerp-5: 0.3;
  --lerp-6: 0.1;
}

.album-gallery a {
  outline-offset: 4px;
}

.album-gallery li {
  flex: calc(0.1 + (var(--active-lerp, 0) * 1));
  transition: flex 0.2s ease;
}

li:is(:hover, :focus-within) {
  --active-lerp: var(--lerp-0);
  z-index: 7;
}
li:has( + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within) + li {
  --active-lerp: var(--lerp-1);
  z-index: 6;
}
li:has( + li + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within) + li + li {
  --active-lerp: var(--lerp-2);
  z-index: 5;
}
li:has( + li + li + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within) + li + li + li {
  --active-lerp: var(--lerp-3);
  z-index: 4;
}
li:has( + li + li + li + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within) + li + li + li + li {
  --active-lerp: var(--lerp-4);
  z-index: 3;
}
li:has( + li + li + li + li + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within) + li + li + li + li + li {
  --active-lerp: var(--lerp-5);
  z-index: 2;
}
li:has( + li + li + li + li + li + li:is(:hover, :focus-within)),
li:is(:hover, :focus-within) + li + li + li + li + li + li {
  --active-lerp: var(--lerp-6);
  z-index: 1;
}




.videos {
  display: flex;
  justify-content: center; /* Centrer les vidéos horizontalement */
  margin-top: 20px; /* Espace entre la galerie d'images et les vidéos */
  overflow: hidden; /* Pour masquer les vidéos débordantes */


}

video {
  width: 600px; /* Gardez la largeur fixe pour les vidéos */
  display: block; /* S'assurer que la vidéo est un bloc */
  margin: auto; /* Centrer la vidéo */
}
