.container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2%;
}
.frameHome {
  width: 95%;
  height: 95%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 40px;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}
.pict_box {
  width: 35%;
  height: 95%;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
.image-class {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.pict_box:hover .image-class {
  transform: scale(1.05); /* Zoom légèrement l'image */
}

/* Assurez-vous que l'overlay couvre bien toute la div pict_box */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Couleur sombre semi-transparente */
  color: var( --light-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1; /* Assurez-vous que l'overlay est au-dessus de l'image */
}

.pict_box:hover .overlay {
  opacity: 1; /* Affiche l'overlay au survol */
}

.overlay h2, .overlay p {
  margin: 0;
  padding: 5px 0;
  text-align: center;
}

.overlay h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.overlay p {
  font-size: 1rem;
}

.btn-overlay {
  padding: 10px 20px;
  background-color: var(--background-color);
  color: var( --text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 10px;
}

.btn-overlay:hover {
  background-color: var(--background-color);
}

/* -------------------------------------------------------------------------------------------- */

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -1vh;
}
.center-picture {
  width: 26vh;
  height: 25vh;
  border-radius: 50%;
  display: flex; /* Active Flexbox */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  position: relative; /* Pour positionner le texte au centre */
}
.image-center {
  position: absolute; /* Position absolue pour superposer l'image */
  width: 22vh; /* Ajuste la taille de l'image */
  height: 22vh; /* Garde l'aspect de l'image */
  z-index: 1; /* Assure-toi que l'image est au-dessus du texte */
  border-radius: 50%;
  object-fit: cover; 
}
.center-text {
  text-align: center;
  width: 60vh;
  color: var( --light-text-color);
  font-size: 2vh;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  font-family: var(--font-text);
}

.center-text h1 {
  font-size: 40px;
  font-family: var(--font-title);
}

.text {
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-family: var(--font-text);
  font-size: 2.5px;
  fill: #111;
  text-shadow: 2px 0px var( --light-text-color);
  ;
}
#rotatingText {
  animation-name: rotate-circle;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotate-circle {
  to {
    transform: rotate(-1turn);
  }
}


.btnres svg {
  width: 3vh; /* Ajustez la largeur souhaitée */
  height: auto; /* Ajustez la hauteur souhaitée */
  vertical-align: middle; /* Aligne verticalement le SVG au milieu du texte */
  margin-right: 5px; /* Ajoute un espace entre l'icône et le texte */
}

.btnres {
  background-color: var(--light-text-color);
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: var( --text-color);

  cursor: pointer;
  display: inline-block;
  font-family: var(--font-subtitle);
  font-size: 13px;
  line-height: 29px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
  margin: 1vh;
  margin-top: 4vh;
  padding: auto;
}



.btnres:focus {
  border-color: var(--primary-color);
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

/* ------------------------------------------------------------------------------------------------------- */

.pict_box {
  width: 35%;
  height: 95%;
  position: relative; /* Pour que le pseudo-élément soit positionné correctement */
  border-radius: 15px;
  overflow: hidden; /* Pour que le dégradé reste à l'intérieur des limites */
  z-index: 0;
}

.image-class {
  width: 100%;
  height: 100%;
  object-fit: cover; /* L'image s'ajuste bien dans la boîte */
  border-radius: 15px;
  position: relative;
  z-index: 1; /* S'assure que l'image est en dessous du dégradé */
}

/* Ajout du dégradé */
.gradient-effectfirst::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, var(--secondary-color), transparent 40%);
  z-index: 2; /* Place le dégradé par-dessus l'image */
  pointer-events: none; /* Pour que le dégradé n'interfère pas avec l'interaction utilisateur */
  opacity: 100%;

}
.gradient-effectsec::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, var(--secondary-color), transparent 40%);
  z-index: 2; /* Place le dégradé par-dessus l'image */
  pointer-events: none; /* Pour que le dégradé n'interfère pas avec l'interaction utilisateur */
  opacity: 100%;
}