nav {
  position: relative; 
  z-index: 1; 
}
.brand-logo {
  text-decoration: none; 
  font-family: "Protest Strike";
  font-size: 4.21rem;
  color: #0c0c1a;
}

.color-p {
  color: var(--primary-color); 
}

.color-f {
  color: var(--secondary-color); 
}

.nav-wrapper {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 0 20px;
  z-index: 1;
}

#nav-mobile {
  display: flex; 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}

#nav-mobile li {
  margin-left: 20px; 
  font-family: var(--font-title);
}

#nav-mobile a {
  display: block; 
  padding: 15px 20px; 
  text-decoration: none; 
  color: var(--text-color); 
  text-align: center; 
  border-radius: 5px; 
}

#nav-mobile a:hover {
  background-color: #303b5f;
  color: var(--light-text-color); 

}



