.hard-skills {
  text-align: center;
  background-color: #303b5f;
  font-family: 'Protest Strike';
  font-size: 3vh;
  display: flex;
  flex-direction: column;
  border-radius: 35px;
  padding: 15px;
  padding-bottom: 50px;
  margin-left: 40%;
  margin-right: 40%;
  transition: background-color 0.5s ease;
}

.content {
  background-color: #f3892c;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: -45px;
  border-radius: 35px;
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive grid */
  overflow-y: auto;
  transition: background-color 0.5s ease;
  gap: 7.5%;
}

.category-box {
  background-color: #f8f9fa; /* Light background for categories */
  border-radius: 20px; /* Rounded corners */
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  width: 45vh;
}

.skill-item {
  padding: 1%;
  display: flex;
  align-items: center;
  color: #0c0c1a;
  font-size: 3vh;
}

.skill-item span {
  margin-right: 5%;
}

.icon {
  font-size: 2.5vh;
  width: 2.5em;
  height: auto;
  display: inline-block;
  fill: #0c0c1a;
}
