.hard-skills {
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 35px;
  padding: 15px;
  padding-bottom: 50px;
  margin-left: 40%;
  margin-right: 40%;
  background-color: var(--primary-color);
}
.titleHard{
  font-family: var(--font-title);
  font-size: 35px;
}


.content {
  background-color: var(--primary-color);

  margin-top: -45px;
  border-radius: 35px;
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Responsive grid */
  overflow-y: auto;
  gap: 24px;
  width: 65%;
  margin-left: auto; /* Centrer à gauche */
  margin-right: auto;
}
.full-width {
  grid-column: 1 / -1;
}

.category-box {
  background-color: var(--light-text-color); /* Light background for categories */
  border-radius: 20px; /* Rounded corners */
  padding: 15px;  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  text-align: center;
  
}

